-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "User" (
    "username" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "full_name" TEXT,
    "role" TEXT NOT NULL,
    "circl" TEXT,
    "divnm" TEXT,
    "permissions" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("username")
);

-- CreateTable
CREATE TABLE "locations" (
    "loccode" TEXT NOT NULL,
    "locnm" TEXT,

    CONSTRAINT "locations_pkey" PRIMARY KEY ("loccode")
);

-- CreateTable
CREATE TABLE "pay_scales" (
    "scaleno" TEXT NOT NULL,
    "payscl" TEXT,
    "stage1" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "incri1" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "stage2" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "incri2" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "stage3" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "incri3" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "stage4" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "incri4" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "category" TEXT,
    "circular_no" TEXT,
    "is_current" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "pay_scales_pkey" PRIMARY KEY ("scaleno")
);

-- CreateTable
CREATE TABLE "designations" (
    "dez_id" TEXT NOT NULL,
    "desigz" TEXT,
    "paygrp" TEXT,
    "paysclno" TEXT,
    "payscl" TEXT,
    "paysclno1" TEXT,
    "payscl1" TEXT,
    "types" TEXT,
    "cat" TEXT,
    "seniority" TEXT,

    CONSTRAINT "designations_pkey" PRIMARY KEY ("dez_id")
);

-- CreateTable
CREATE TABLE "posts" (
    "dez_id" TEXT NOT NULL,
    "desigz" TEXT,
    "paygrp" TEXT,
    "paysclno" TEXT,
    "payscl" TEXT,
    "cat" TEXT,
    "types" TEXT,
    "seniority" TEXT,

    CONSTRAINT "posts_pkey" PRIMARY KEY ("dez_id")
);

-- CreateTable
CREATE TABLE "employees" (
    "empno" TEXT NOT NULL,
    "loccode" TEXT,
    "empnm" TEXT,
    "desigz" TEXT,
    "locnm" TEXT,
    "corp" TEXT,
    "regionm" TEXT,
    "zonenm" TEXT,
    "circl" TEXT,
    "divnm" TEXT,
    "subdnm" TEXT,
    "sectionm" TEXT,
    "substnm" TEXT,
    "paygrp" TEXT,
    "cader" TEXT,
    "gender" TEXT,
    "types" TEXT,
    "compjoindt" TEXT,
    "brthdt" TEXT,
    "dtofretir" TEXT,
    "cast" TEXT,
    "subcast" TEXT,
    "validity" TEXT,
    "valdtno" TEXT,
    "valddt" TEXT,
    "ppljoindt" TEXT,
    "panno" TEXT,
    "basic" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "bankno" TEXT,
    "payscl" TEXT,
    "banknm" TEXT,
    "qtrtype" TEXT,
    "dtofincri" TEXT,
    "mobileno" TEXT,
    "educ" TEXT,
    "email" TEXT,
    "istgodt" TEXT,
    "ist_go_scale" TEXT,
    "ist_go_pay" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "iindgodt" TEXT,
    "iind_go_scale" TEXT,
    "iind_go_pay" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "iiirdgodt" TEXT,
    "iiird_go_scale" TEXT,
    "iiird_go_pay" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "transdt" TEXT,
    "transfer_type" TEXT,
    "is_rejoined" INTEGER NOT NULL DEFAULT 0,
    "rejoindt" TEXT,
    "rejoin_mode" TEXT,
    "original_compjoindt" TEXT,
    "updated_by" TEXT,
    "updated_dt" TEXT,
    "suspension_days" INTEGER NOT NULL DEFAULT 0,
    "exleave_nopay_days" INTEGER NOT NULL DEFAULT 0,
    "exleave_counted" INTEGER NOT NULL DEFAULT 0,
    "exleave_reason" TEXT,
    "officiating_post" TEXT,
    "officiating_from" TEXT,
    "increment_stoppages" INTEGER NOT NULL DEFAULT 0,
    "last_increment_dt" TEXT,
    "next_increment_dt" TEXT,
    "increment_note" TEXT,
    "aadhaarno" TEXT,
    "gpfno" TEXT,
    "spousenm" TEXT,
    "caste_category" TEXT,
    "caste_validity_status" TEXT,
    "caste_validity_no" TEXT,
    "caste_validity_dt" TEXT,
    "deem_date_prom" TEXT,
    "address" TEXT,
    "stay_details" TEXT,
    "prom_refused_dt" TEXT,
    "prom_refused_reason" TEXT,
    "prom_refused_note" TEXT,
    "first_appointment_dt" TEXT,
    "reappointment_dt" TEXT,
    "reappointment_type" TEXT,
    "absorption_dt" TEXT,
    "epicno" TEXT,

    CONSTRAINT "employees_pkey" PRIMARY KEY ("empno")
);

-- CreateTable
CREATE TABLE "promotion_history" (
    "id" SERIAL NOT NULL,
    "empno" TEXT NOT NULL,
    "prom_date" TEXT,
    "from_desig" TEXT,
    "to_desig" TEXT,
    "from_scale" TEXT,
    "to_scale" TEXT,
    "pay_before" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "pay_after" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "prom_type" TEXT,
    "remarks" TEXT,
    "created_dt" TEXT,

    CONSTRAINT "promotion_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transfer_history" (
    "id" SERIAL NOT NULL,
    "empno" TEXT NOT NULL,
    "transfer_date" TEXT,
    "from_date" TEXT,
    "to_date" TEXT,
    "from_location" TEXT,
    "from_loccode" TEXT,
    "to_location" TEXT,
    "to_loccode" TEXT,
    "from_desig" TEXT,
    "to_desig" TEXT,
    "transfer_type" TEXT,
    "promotion_no" INTEGER NOT NULL DEFAULT 0,
    "order_no" TEXT,
    "remarks" TEXT,
    "created_dt" TEXT,

    CONSTRAINT "transfer_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_settings" (
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,

    CONSTRAINT "app_settings_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "seniority_override" (
    "empno" TEXT NOT NULL,
    "designation" TEXT NOT NULL,
    "seniority_no" INTEGER NOT NULL,
    "remarks" TEXT,
    "updated_by" TEXT,
    "updated_dt" TEXT,

    CONSTRAINT "seniority_override_pkey" PRIMARY KEY ("empno","designation")
);

-- CreateTable
CREATE TABLE "leave_records" (
    "id" SERIAL NOT NULL,
    "empno" TEXT NOT NULL,
    "leave_type" TEXT NOT NULL,
    "from_dt" TEXT NOT NULL,
    "to_dt" TEXT NOT NULL,
    "days" DOUBLE PRECISION NOT NULL,
    "sanction_order" TEXT,
    "remarks" TEXT,
    "created_dt" TEXT,

    CONSTRAINT "leave_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sanctioned_posts" (
    "id" SERIAL NOT NULL,
    "circle" TEXT NOT NULL,
    "division" TEXT,
    "designation" TEXT NOT NULL,
    "sanctionType" TEXT NOT NULL,
    "caste" TEXT NOT NULL,
    "count" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "sanctioned_posts_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "seniority_override_empno_designation_idx" ON "seniority_override"("empno", "designation");

-- CreateIndex
CREATE UNIQUE INDEX "sanctioned_posts_circle_division_designation_sanctionType_c_key" ON "sanctioned_posts"("circle", "division", "designation", "sanctionType", "caste");

-- AddForeignKey
ALTER TABLE "seniority_override" ADD CONSTRAINT "seniority_override_empno_fkey" FOREIGN KEY ("empno") REFERENCES "employees"("empno") ON DELETE CASCADE ON UPDATE CASCADE;

